<a href="https://colab.research.google.com/github/220801117/220801117/blob/main/Nadaan_Parinde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PANDA SERIES
import pandas as pd
import numpy as np
#creating series from array
arr=np.array(['P','a','n','d','a','s'])
a=pd.Series(arr)
print("series from array:")
print(a)

#series from dictionary
arr={'x':0.,'y':1.,'z':2.}
b=pd.Series(arr)
print("\n\nseries from dictionary:\n")
print(b)

#series using scalar
x=pd.Series(4,index=[0,1,2,3])
print("\n Series using scalar\n")
print(x)

#series through index
x= pd.Series((1,2,3),index=['a','b','c'])
print("\n series through index:")
print(x)

a=pd.Series(data=[1,2,3,4])
print("\n a series:\n",a)
print("\n index:\n ",a.index)
print("\n values:\n",a.values)
print("\n shape:\n",a.shape)
print("\n dimension:\n",a.ndim)
print("\n size:\n",a.size)

series from array:
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object


series from dictionary:

x    0.0
y    1.0
z    2.0
dtype: float64

 Series using scalar

0    4
1    4
2    4
3    4
dtype: int64

 series through index:
a    1
b    2
c    3
dtype: int64

 a series:
 0    1
1    2
2    3
3    4
dtype: int64

 index:
  RangeIndex(start=0, stop=4, step=1)

 values:
 [1 2 3 4]

 shape:
 (4,)

 dimension:
 1

 size:
 4

In [ ]:
#PANDAS DATAFRAME BASICS
import pandas as pd
#Empty DataFrame
df=pd.DataFrame()
print(df)

emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'10':id}
result=pd.DataFrame(frame)
print("\n Series to DataFrame\n")
print(result)
print("\n extracting one column:\n")
print(result['Emp'])

print("\n Adding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

print("\n deleting one column :\n")
del result['Age']
print(result)

print("\n Extracting the third row:\n")
print(result.loc[2])

print("\n slice rows:\n",result[1:3])
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\n Adding new row values :\n",result.append(d2))
print("\n Deleting particular row :\n",result.drop(1))

Empty DataFrame
Columns: []
Index: []

 Series to DataFrame

       Emp   10
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 extracting one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

 Adding new column:

       Emp   10  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

 deleting one column :

       Emp   10
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 Extracting the third row:

Emp    Smith
10       109
Name: 2, dtype: object

 slice rows:
      Emp   10
1   John  107
2  Smith  109

 Adding new row values :
        Emp     10     ID
0   Parker  102.0    NaN
1     John  107.0    NaN
2    Smith  109.0    NaN
3  William  114.0    NaN
0     Dale    NaN  123.0
1     Mark    NaN  143.0

 Deleting particular row :
        Emp   10
0   Parker  102
2    Smith  109
3  William  114

<ipython-input-2-99ed0a00ab7c>:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\n Adding new row values :\n",result.append(d2))

In [ ]:
#PANDAS DATAFRAME FUNCTIONS
import pandas as pd
import numpy as np
#DATAFRAME.APPLY FUNCTION
print("DataFrame .apply function :\n ")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\n original data frame :\n",info)
print("\n square root of the data frame :\n",info.apply (np.sqrt))
print("\n sum of the each column:\n",info.apply(np.sum,axis=0))
print("\n sum of the each row:\n",info.apply(np.sum,axis=1))
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['x','y','z'])
print("\n original DataFrame:\n",info)
print("\n Minimum and maximum of each column:\n")
print(info.agg(['min','max']))

#DataFrame.Assign function
print("\n DataFrame.assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','id'])
print("\n original DataFrame :\n ",d2)
d2['Age']=[35,40]
print("\n adding new columns:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n adding new column:\n",d)

#DataFrame.Sort function
print("\n DataFrame sort function:\n")
info= pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\n sort index:\n ",info2)
#info=pd.DataFrame({'col1':[7,1,8,3],'col2':[8,12,4,9]})
info3=info.sort_values(by='col3')
print("\n sort values :\n ",info3)

#DataFrame.Merge FUnction
print("\n DataFrame.MergeFunction:\n")
l=pd.DataFrame({'id':[1,2,3,4,5],'name':['alex','arendan','arolin','avis','anson'],'sub':['sub1','sub2','sub3','sub6','sub5']})
print(l)
r=pd.DataFrame({'id':[1,2,3,4,5],'name':[' brenda','belin','biplin','berry','bary'],'sub':['sub1','sub2','sub3','sub4','sub5']})
print(r)
print(pd.merge(l,r,on='id'))

DataFrame .apply function :


 original data frame :
    P  Q
0  2  7
1  2  7
2  2  7

 square root of the data frame :
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

 sum of the each column:
 P     6
Q    21
dtype: int64

 sum of the each row:
 0    9
1    9
2    9
dtype: int64

 original DataFrame:
    x  y  z
0  1  5  7
1  2  7  8
2  3  6  9

 Minimum and maximum of each column:

     x  y  z
min  1  5  7
max  3  7  9

 DataFrame.assign function:


 original DataFrame :
      Emp   id
0  Dale  123
1  Mark  143

 adding new columns:
     Emp   id  Age
0  Dale  123   35
1  Mark  143   40

 adding new column:
     Emp   id  Age   sex
0  Dale  123   35  Male
1  Mark  143   40  Male

 DataFrame sort function:

       col3      col4
3 -0.146444  0.434748
2  1.157811 -1.142892
0  0.771579  2.254403
4 -0.708855  0.153915
1  0.518097  0.796345

 sort index:
         col3      col4
0  0.771579  2.254403
1  0.518097  0.796345
2  1.157811 -1.142892
3 -0.146444  0.434748
4 -0.708855  0.153915

 sort values :
         col3      col4
4 -0.708855  0.153915
3 -0.146444  0.434748
1  0.518097  0.796345
0  0.771579  2.254403
2  1.157811 -1.142892

 DataFrame.MergeFunction:

   id     name   sub
0   1     alex  sub1
1   2  arendan  sub2
2   3   arolin  sub3
3   4     avis  sub6
4   5    anson  sub5
   id     name   sub
0   1   brenda  sub1
1   2    belin  sub2
2   3   biplin  sub3
3   4    berry  sub4
4   5     bary  sub5
   id   name_x sub_x   name_y sub_y
0   1     alex  sub1   brenda  sub1
1   2  arendan  sub2    belin  sub2
2   3   arolin  sub3   biplin  sub3
3   4     avis  sub6    berry  sub4
4   5    anson  sub5     bary  sub5